*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #242424;
  font-family: sans-serif;
}

.container{
  /* background-color: #3c3b3b; */
  height:100vh;
  display: flex;
  align-items: end;
  justify-content: center;

}

.btn-container{
  background-color:#fff;
  width: 60vw;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  padding:8px 30px;
  border-radius: 8px;
  box-shadow: 5px 2px 8px 2px rgba(208, 202, 202, 0.5);
}

.btns{
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  transition: transform 0.5s ease-in-out;
  cursor:pointer;

}
.btns:active{
  transform: scale(1.2);
}
.btns:hover{
  box-shadow: 2px 2px 8px 4px rgba(0,0,0,0.5);
}























/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
